.idea
/vendor
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/images
public/mix-manifest.json
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.index
