// Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Titillium+Web:wght@300;400;600;700&display=swap");
// Variables
@import "variables";

// Vendor
@import "~../css/nucleo-icons.css";
@import "../css/nucleo-svg.css";
@import "../argon-design-system-pro/scss/argon-design-system.scss";
@import "../css/jquery.fileuploader.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";

#categoryFilterButton {
    position: absolute;
    background: #28aee4;
    color: #fff;
    right: 0;
    border-right: 1px solid #28aee4;
    border-radius: 4px;
    height: calc(1.5em + 1.25rem - 1px);
    padding: 0.625rem 0.75rem;
    line-height: 1.5;
    z-index: 1000;
    cursor: pointer;
    margin-right: 1em;
}

.select2-container .select2-selection--multiple {
    border-color: #b6cadb !important;
}

template {
    display: none;
}

@include media-breakpoint-down(sm) {
    footer {
        .social-buttons {
            justify-content: center !important;
        }
        .footer-logos {
            margin-top: 1rem;
            img {
                max-height: 1.5rem;
            }
        }
    }
}

.fileuploader.fileuploader-theme-default {
    padding: 0px;
    margin: 0px;
}
