// Fonts
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#categoryFilterButton {
    position: absolute;
    background: #28AEE4;
    color: #fff;
    right: 0;
    border-right: 1px solid #28AEE4;
    border-radius: 4px;
    height: calc(1.5em + 1.25rem - 1px);
    padding: 0.625rem 0.75rem;
    line-height: 1.5;
    z-index: 1000;
    cursor: pointer;
    margin-right: 1em;
}

.select2-container .select2-selection--multiple {
    border-color: #B6CADB !important;
}

template {
    display: none;
}

@include media-breakpoint-down(sm) {
  footer {
    .social-buttons {
      justify-content: center !important;
    }
    .footer-logos {
      margin-top:1rem;
      img {
        max-height: 1.5rem;
      }
    }
  }
}
