//Stick the footer to the bottom

body {
    #app {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        main {
            flex:1;
        }
    }
}

.navbar-brand {
    img {
        height:25px;
    }
}

.navbar-nav {
    .nav-link {
        font-family: 'Titillium Web', sans-serif;
        font-weight: $font-weight-bold;
    }
}

body {
    font-family: 'Titillium Web', sans-serif;
    color:$dark-gray;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            &.active {
                color:$primary!important;
            }
        }
    }
}

.footer {
    .border-bottom-dark {
        border-color:darken($primary, 20%)!important;
    }
    .social-buttons {
        i {
            font-size:2rem;
        }
    }
}


.btn-group-custom {
    .btn {
        border-radius: 0;
        border-bottom:3px solid transparent;
        opacity: 0.68;
        &.active {
            border-bottom-color: $primary;
            opacity: 1;
            z-index: 0;
            &:focus {
                box-shadow: none!important;
            }
        }
        &:hover {
            opacity: 1;
            &:focus {
                box-shadow: none!important;
            }
        }
    }
    @include media-breakpoint-down(md) {
        overflow-x: scroll;
        white-space: nowrap;
    }
}

.nav-pills {
    &.btn-group-custom {
        @include media-breakpoint-down(md) {
            display: block;
        }
        border-bottom:1px solid #ddd;
        .btn {
            &:focus {
                box-shadow: none!important;
            }
        }
        li.nav-item {
            @include media-breakpoint-down(md) {
                display:inline-block;
                vertical-align: middle;
                margin-bottom: 0;
            }
        }
    }
}

.btn {
    &.stretched-link {
        will-change: none;
        transform:none;
        &:hover {
            will-change: none;
            transform:none;
        }
    }
    &-primary {
        &:focus {
            background-color:$primary;
            border-color:$primary;
        }
    }
}


@include media-breakpoint-up(md) {
    .collapse.dont-collapse-md {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@include media-breakpoint-down(md) {
    .mobile-filters {
        padding:15px 70px 15px 15px;
        border:1px solid #dadada;
        background:#f1f1f1;
        position: relative;
        .close-filters {
            position: absolute;
            top:0;
            right: 0;
            width:45px;
            height: 45px;
            padding: 0;
            border-radius: 0px 0px 0px 8px;
        }
    }
}

.toast {
    z-index:100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    .toast-body {
        padding:1rem 1.5rem;
    }
}

.admin-dashboard {
    .card-text {
        font-size:28px;
        font-weight: 500;
    }
}

.partners-logos {
    img {
        margin:10px;
        max-height: 3.17rem;
        @include media-breakpoint-down(md) {
            max-height: 2rem;
        }
        &.fvr-logo {
            @include media-breakpoint-down(md) {
                max-height: 2.2rem;
            }
            max-height: 3.78rem;
            top: -6px;
            position: relative;
        }
    }
}

.subscribe {
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e1e1e1' fill-opacity='0.84' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.table {
    th, td {
        white-space: normal;
        font-size:0.9rem;
        vertical-align:middle;
    }
}

.btn-group.filters {
    width: 100%;
}

.btn-group.filters .btn {
    width: 50%;
    margin-top: 0 !important;
}

.navbar-toggler{
    &:focus {
        outline:none;
    }
}


//Homepage

.bg-homepage-section-1 {
    background-size:cover;
}

.how-can-we-help {
    .card-title{
        line-height: 1.2;
        font-size:1.2rem;
        margin-bottom:1rem;
    }
}

.container-holder{
    overflow: hidden;
    background: $primary;
    .strech-bg{
        background: $secondary;
        margin: 0 -15px 0 -15px;
        padding-left:15px;
        padding-right:15px;
        @include media-breakpoint-up(sm) {
            padding: 0 15px 9999px 9999px;
            margin: 0 -15px -9999px -9999px;
        }
    }
}


//About us page

.accordion-1 {
    .accordion {
        .card {
            border-bottom:2px solid $light-blue!important;
            .card-header {
                padding:0.55rem 0rem;
                .btn {
                    padding:10px 30px;
                    text-transform:none;
                    font-size:1.075rem;
                    &.collapsed {
                        color:$dark;
                    }
                    color:$primary;
                }
            }
        }
    }
    &.request-services {
        .accordion {
            .card {
                border-bottom: 0!important;
                border-radius: 0.25rem!important;
                .card-header {
                    padding:0!important;
                    .btn {
                        padding:1rem 30px!important;
                        &.collapsed {
                            color:$dark;
                            background:#fff;
                        }
                        color:#fff;
                        background:$primary;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        &[disabled] {
                            color:$gray-500;
                        }
                    }
                }
            }
        }
    }
}

label.required {
    &:after {
        content:"*";
        color:#EF4747;
        margin-left:2px;
    }
}

.form-control, .input-group-text {
    &:focus {
        box-shadow: none;
        border-color: darken($primary, 20%);
    }
    box-shadow: none;
    border-color:$info;
}

.custom-checkbox {
    .custom-control-input {
        &:checked ~ .custom-control-label::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
        }
    }
}

.lang-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0007 7C13.0007 10.3137 10.3144 13 7.0007 13M13.0007 7C13.0007 3.68629 10.3144 1 7.0007 1M13.0007 7H1.0007M7.0007 13C3.68699 13 1.0007 10.3137 1.0007 7M7.0007 13C8.10527 13 9.0007 10.3137 9.0007 7C9.0007 3.68629 8.10527 1 7.0007 1M7.0007 13C5.89613 13 5.0007 10.3137 5.0007 7C5.0007 3.68629 5.89613 1 7.0007 1M1.0007 7C1.0007 3.68629 3.68699 1 7.0007 1' stroke='%23111827' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 2px !important;
}

.alert-general {
    color:$dark-gray;
}

.table {
    .thead-dark {
        th {
            background:$primary;
            border-color:$primary;
            border-top:0;
            color:#fff;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 0.75rem;
            &:first-child {
                border-top-left-radius: 0.3rem;
            }
            &:last-child {
                border-top-right-radius: 0.3rem;
            }
        }
    }
    td {
        border-top:none;
        a {
            font-weight: 600;
        }
    }
    &.table-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color:$light-blue;
                }
            }
        }
    }
}

.custom-select {
    &.form-control-sm {
        background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23252525' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.45rem center/8px 10px;
        height: calc(1.5em + 0.5rem + 2px)!important;
        padding: 0.25rem 1rem 0.25rem 0.5rem!important;
    }
}

.details-wrapper {
    &.bordered-left {
        border-left:3px solid $primary;
        padding-left: 20px;
    }
    li {
        margin-bottom:15px;
        align-items: center;
    }
    i {
        width:20px;
        font-size:1.2rem;
        margin-right:20px;
        opacity:0.78;
    }
}

.list-custom {
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
    li {
        position: relative;
        font-weight:300;
        padding-left:30px;
        margin-bottom: 7px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            border: 3px solid #28AEE4;
            background: #fff;
            box-sizing: content-box;
        }
    }
    &.gray-bullets {
        li {
            &:before{
                border: 3px solid #ddd;
            }
        }
    }
}

.clinic-map {
    height:450px;
}

@include media-breakpoint-down(md) {
    .navbar-brand img {
        margin-left:10px;
    }
    .homepage-logo img {
        display: none;
    }
    .navbar-collapse {
        .collapse-brand {
            img {
                height: 25px;
            }
        }
    }
}

.form-control, .form-control:focus {
    color:#131313;
}

.modal-header {
    .close {
        span {
            font-size:1.85rem;
        }
    }
}

.note {
    background:#f5f5f5;
    border-left:4px solid $primary;
    .meta {
        color: #909090;
        .text-dot-left {
            &:before {
                content: "•";
                padding:0 5px;
            }
        }
    }
    &:not(:last-child) {
        margin-bottom:20px;
    }
}

.custom-list-group {
    border:none;
    li {
        border: none;
        padding-left:0;
        padding-right:0;
        border-bottom:1px solid #e9ecef;
        margin-bottom:0;
        border-radius:0!important;
    }
}

.btn-h4h-offer-help-submit {
    background-color: $primary;
    border-color: $primary;
}

.js-cookie-consent {
  a {
    color: $white;
    text-decoration: underline;
  }
}

.ql-align-justify {
    text-align: justify;
}

.btn-primary {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.bg-homepage-section-1 .card-header img {
    object-fit: contain;
    height: 40px;
    width: 100%;
}

.bg-h4h-blue {
    background-color: $primary !important;
}

.bg-h4h-form {
    background-color: #F5F5F5;
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243, 244, 246, var(--tw-bg-opacity));
}

.h6 {
    height: 1.5rem;
}

.form-header{
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: $indigo;
}

.form-description p{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.form-info-stripe{
    background-color: $light-green;
}

@media (min-width: 576px){
    .pt-sm-25, .py-sm-25{
        padding-top: 2.5rem !important;
    }
    .pb-sm-25, .py-sm-25{
        padding-bottom: 2.5rem !important;
    }
}

.person_in_care {
    @media screen and (max-width: 768px) {
        background: $gray-100;
        margin-bottom: 20px;
    }
}
.justify-end {
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.inline-flex {
    display: inline-flex;
}

.h-3 {
    height: 1rem;
}

.h-4 {
    height: 1.5rem;
}

.h-5 {
    height: 2rem;
}

.h-6 {
    height: 2.5rem;
}
