.admin-area {
    line-height: 1.2;
    background:#F5F5F5;
    overflow-x:hidden;
    .nav-item {
        .dropdown-menu {
            position: absolute;
            width:100%;
        }
    }
    .sidebar {
        background:$blue;
        min-height: 100vh;
        margin-left:-15rem;
        color:#fff;
        transition: margin .25s ease-out;
        .sidebar-heading {
            padding: 0.875rem 1.25rem;
        }
        .list-group {
            width:15rem;
            .list-group-item {
                background:transparent;
                border:none;
                color:#fff;
                opacity: 0.5;
                padding-left:30px;
                border-left:5px solid transparent;
                &.sub-list {
                    background: $dark-blue;
                }
                &.active {
                    background:$lighter-blue;
                    border-color:$primary;
                    opacity: 1;
                }
                &:hover {
                    background:$lighter-blue;
                    opacity: 0.75;
                }
            }
            .list-group-header{
                opacity: 1;
                &:hover {
                    background: inherit;
                    opacity: 1;
                }
            }
        }
        .list-group-bottom {
            position: fixed;
            bottom: 0;
            background: $dark-blue;
        }
    }
    &.sidebar-visible {
        .sidebar {
            margin-left:0;
        }
    }
    .page-wrapper {
        min-width: 100vw;
        .page-title {
            margin-bottom: 50px;
            font-size:1.7rem;
        }
    }
    @include media-breakpoint-up(sm) {
        .sidebar {
            margin-left:0;
        }
        .page-wrapper {
            min-width: 0;
            width: 100%;
        }
    }
}



//Navbar toggler
.navbar-toggler {
    border: none;
    background: transparent !important;
    border-color:$primary;
}
.navbar-toggler:hover {
    background: transparent !important;
}
.navbar-toggler .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background: $dark;
    height:2px;
    border-radius: 1px;
    display:block;
    margin-top:4px;
}
.sidebar-visible .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.sidebar-visible .navbar-toggler .middle-bar {
    opacity: 0;
}
.sidebar-visible .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler .top-bar {
    transform: rotate(0);
}
.navbar-toggler.middle-bar {
    opacity: 1;
}
.navbar-toggler .bottom-bar {
    transform: rotate(0);
}

.is-open {
    .choices__inner {
        border-color: darken($primary, 20%);
        border-radius: 2.5px 2.5px 0 0!important;
    }
}
.choices__inner {
    border-color:$primary;
}


.kv {
    margin-bottom:20px;
    p {
        margin-bottom:0;
    }
}

p.smaller {
    font-size:14px;
}

.pwd-container {
    position: relative;
    i {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:20px;
        cursor:pointer;
        &:hover {
            opacity: 0.68;
        }
    }
}

.accomodation-list {
    @include media-breakpoint-down(sm) {
        .media {
            flex-direction: column;
            img {
                width:100%!important;
                margin-right:0!important;
                margin-bottom:20px;
            }
        }
    }
}

.gallery {
    img {
        max-width:150px;
        border-radius:7px;
        margin:0 15px 15px 0;
        position: relative;
        top:0;
        &:hover {
            -webkit-filter:brightness(120%);
                    filter:brightness(120%);
            top:-2px;
            @extend .shadow;
            transition: all 0.2s ease;
        }
    }
}

.choices {
    margin-bottom: 0;
}

.is-invalid {
    .choices .choices__inner {
        border-color: #fb6340;
        padding-right: calc((1em + 1.25rem) * 3 / 4 + 1.75rem);
        background: $form-feedback-icon-invalid no-repeat center right 1.75rem/calc(0.75em + 0.625rem) calc(0.75em + 0.625rem);
    }
}

.sidebar-dash{
    will-change: min-height;
    .sidebar__inner{
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
    .card {
        h1 {
            line-height: 1;
            margin-bottom:10px;
            i{
                position: absolute;
                right: 25px;
                opacity: 0.5;
            }
        }
    }
}

.dataTables_paginate {
    margin-top: 5px;
}
.paginate_button {
    cursor: pointer;
    margin: 5px;
}

.info-box {
    h6 {
        color: $indigo;
        font-size:1.7rem;
    }
}
